html{
  box-sizing:boder-box;
  font-family: 'Contrail One', normal;
  color:white;
  margin:0;
}

*, *::before, *::after{
  box-sizing:inherit;
}


header{

  background-color:#2c3950;
}

header h1{
  background-color:#1a2230;
}

.robot{
  position:relative;

}

.head1 {
  position: absolute;
  width: 125px;
  right:50%;
}

.head2 {
  position: absolute;
  width: 125px;
  left:50%;
}

.brain {
  position: absolute;
  width:46px;
  right:50%;
  left:50%;
}

.body{
  /*position:;*/
  width:320px;

}

/*
robot-body.svg — 320px
robot-brain.svg — 46px
robot-head-left.svg — 125px
robot-head-right.svg — 125px
*/
